.example-button-container {
    margin: 0 auto;
    display: block;
}

.mat-fab {
    background-color: #23b574;
}

p {
    text-align: center;
}

.plus-button {
	font-size: 28px;
}

.mat-toolbar {
    background-color: #4e68b5;
}

.example-spacer {
    flex: 1 1 auto;
}