  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <!-- <mat-tab-group mat-align-tabs = "center">
    <mat-tab label="Codzienne"></mat-tab>
    <mat-tab label="Niecodzienne"></mat-tab>
  </mat-tab-group> -->
  <div *ngIf = "lists.length > 0">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false" *ngFor = "let list of lists">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ list.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf = "list.products.length > 0">
          <div *ngFor = "let product of list.products">
            {{ product.name }}
          </div>
        </div>
        <div class="example-button-row">
          <button (click)="showShoppingList = true; listToEdit = list" mat-icon-button class="button_edit">+/-</button>
        </div>        
      </mat-expansion-panel>
    </mat-accordion>
    <div class="add-list">
      <!-- <p>
        Dodaj pierwszą<br>
        listę zakupów
      </p> -->
      <p>
      Utwórz listę
      </p>
    </div>
    <div>
      <button [routerLink]="'/new-shopping-list'" routerLinkActive="active" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <a>+</a>
      </button>
    </div>  
  </div>
