<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<div>
  <div class="name_shopping_list">
    <p>
      {{nazwaListy}}
    </p>
  </div>
  <button *ngIf = "hideButton === false" (click)="showInputSection()" class="button_add_item" mat-button a class="example-button-container-add" >Dodaj nową pozycję</button>
  <form *ngIf = "showInput === true" class="example-button-container-add button_add_item">
    <input type="text" class="form-control" id="name"
    required
    [(ngModel)]="product.name" name="nameD" (keydown.enter)="onKeydown($event)">
</form>
</div>
<div>
  <ul class="products-item" *ngIf = "list.products.length > 0">
    <li *ngFor = "let product of list.products">
      {{product.name}}
    </li>
  </ul>
</div>
<div class="example-button-row">
  <div>
    <button (click)="cancel()" a [routerLink]="'/shopping-lists'" mat-button a class="example-button-container cancel-button">Anuluj</button>
    <button (click)="save()" a [routerLink]="'/shopping-lists'" mat-button a class="example-button-container create-button">Zapisz</button>
    <button *ngIf="false" mat-button class="example-button-container cancel-button">Anuluj</button>
    <button *ngIf="false" mat-button a [routerLink]="'/shopping-lists'" class="example-button-container create-button">Zapisz</button>
  </div>
</div>
