<div *ngIf = "showShoppingList === false">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <!-- <mat-tab-group mat-align-tabs = "center">
    <mat-tab label="Codzienne"></mat-tab>
    <mat-tab label="Niecodzienne"></mat-tab>
  </mat-tab-group> -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Podaj nazwę</mat-label>
      <input matInput type="text" class="form-control" id="name"
      required
      [(ngModel)]="model.name" name="name">
    </mat-form-field>
  </form>
  <div class="example-button-row">
    <!-- <button (click)="onCancel()" mat-button a class="example-button-container cancel-button">Anuluj</button> -->
    <button (click)="onSave()" mat-button class="example-button-container create-button" >Zapisz</button>
    <button mat-button a [routerLink]="'/shopping-lists'" routerLinkActive="active" class="example-button-container cancel-button">Anuluj</button>
    <!-- <button *ngIf="false" mat-button class="example-button-container create-button">Zapisz</button> -->
  </div>
</div>
